@import gamecontrol.supervisor.SupervisorInterface
@import gamemodel.model.PlayerInterface




@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(mode:Int,s:String,p:PlayerInterface)
@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Willkommen bei SquareCastle") {
    <div class="player">
        <p>Its player @p turn!!</p>
    </div>

    <div class="info">
        <p>Use URL to play SQUARECASTLE</p>
    </div>
    <div class="printline">
        <br>
        @s
    </div>
    <div class="print">
        <br>
        @s
    </div>
    @*
     * Get an `Html` object by calling the built-in Play welcome
     * template and passing a `String` message.
     *@
}

